name: Publish OCI Image
on:
  push:
    branches:
      - main
    paths:
      - "rockcraft.yaml"
jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@c85c95e3d7251135ab7dc9ce3241c5835cc595a9 # v3

      - name: Check the version
        id: get_version
        run: |
          sudo snap install yq --classic
          version="$(yq '.version' rockcraft.yaml)"
          echo "VERSION=$version" >> $GITHUB_OUTPUT

      - id: rockcraft
        name: Build ROCK
        uses: canonical/craft-actions/rockcraft-pack@main

      - name: Upload ROCK artifact
        uses: actions/upload-artifact@0b7f8abb1508181956e8e162db84b466c27e18ce # v3
        with:
          name: zinc-rock
          path: ${{ steps.rockcraft.outputs.rock }}

      - name: Upload ROCK to ghcr.io
        run: |
          # Upload ROCK to ghcr.io/jnsgruk/zinc:<version>
          sudo skopeo --insecure-policy copy \
            "oci-archive:$(realpath ./zinc_*.rock)" \
            "docker://ghcr.io/jnsgruk/zinc:${{ steps.get_version.outputs.VERSION }}" \
            --dest-creds "${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}"

          # Upload ROCK to ghcr.io/jnsgruk/zinc:latest
          sudo skopeo --insecure-policy copy \
            "oci-archive:$(realpath ./zinc_*.rock)" \
            "docker://ghcr.io/jnsgruk/zinc:latest" \
            --dest-creds "${{ github.actor }}:${{ secrets.GITHUB_TOKEN }}"

      - name: Update charm metadata
        run: |
          version=${{ steps.get_version.outputs.VERSION }}
          sed -i -e "s/zinc:[0-9]\+\.[0-9]\+\.[0-9]\+/zinc:${version}/g" metadata.yaml

      # We use a Github App and token to allow Github Actions to run properly on the created PR.
      - uses: tibdex/github-app-token@b62528385c34dbc9f38e5f4225ac829252d1ea92 # v1
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_KEY }}

      - name: Create a PR to update charm
        uses: peter-evans/create-pull-request@153407881ec5c347639a548ade7d8ad1d6740e38 # v5
        id: cpr
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "chore(deps): bump zinc container image to `zinc:${{ steps.get_version.outputs.VERSION }}`"
          committer: "Github Actions <github-actions@github.com>"
          author: "Github Actions <github-actions@github.com>"
          title: "chore(deps): bump container image to `zinc:${{ steps.get_version.outputs.VERSION }}`"
          body: "chore(deps): bump container image to `zinc:${{ steps.get_version.outputs.VERSION }}`"
          branch: "auto-container-${{ steps.get_version.outputs.VERSION }}"
          delete-branch: true
          reviewers: jnsgruk
          assignees: jnsgruk
