name: Publish OCI Image
on:
  push:
    paths:
      - "Dockerfile"
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1

      - name: Check the version
        id: get_version
        run: |
          version="$(grep -Po "zinc:\K[0-9]+\.[0-9]+\.[0-9]+" Dockerfile)"
          echo ::set-output name=VERSION::$version

      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/zinc:${{ steps.get_version.outputs.VERSION }},${{ secrets.DOCKER_HUB_USERNAME }}/zinc:latest

      - name: Update charm metadata
        run: |
          version=${{ steps.get_version.outputs.VERSION }}
          sed -i -e "s/zinc:[0-9]\+\.[0-9]\+\.[0-9]\+/zinc:${version}/g" metadata.yaml

      # We use a Github App and token to allow Github Actions to run properly on the created PR.
      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_KEY }}

      - name: Create a PR to update charm
        uses: peter-evans/create-pull-request@v4
        id: cpr
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "chore(deps): bump zinc container image to `jnsgruk/zinc:${{ needs.check-upstream.outputs.release }}`"
          committer: "Github Actions <github-actions@github.com>"
          author: "Github Actions <github-actions@github.com>"
          title: "Update container image to `jnsgruk/zinc:${{ needs.check-upstream.outputs.release }}`"
          body: "Update container image to `jnsgruk/zinc:${{ needs.check-upstream.outputs.release }}`"
          branch: "auto-container-${{ needs.check-upstream.outputs.release }}"
          delete-branch: true
          reviewers: jnsgruk
          assignees: jnsgruk
