name: Publish OCI Image
on:
  push:
    branches:
      - main
    paths:
      - "Dockerfile"
jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3

      - name: Login to Docker Hub
        uses: docker/login-action@f4ef78c080cd8ba55a85445d5b36e214a81df20a # v2
        with:
          username: ${{ secrets.DOCKER_HUB_USERNAME }}
          password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@8c0edbc76e98fa90f69d9a2c020dcb50019dc325 # v2

      - name: Check the version
        id: get_version
        run: |
          version="$(grep -Po "zinc:\K[0-9]+\.[0-9]+\.[0-9]+" Dockerfile)"
          echo "VERSION=$version" >> $GITHUB_OUTPUT

      - name: Build and push
        uses: docker/build-push-action@c56af957549030174b10d6867f20e78cfd7debc5 # v3
        with:
          context: ./
          file: ./Dockerfile
          builder: ${{ steps.buildx.outputs.name }}
          push: true
          tags: ${{ secrets.DOCKER_HUB_USERNAME }}/zinc:${{ steps.get_version.outputs.VERSION }},${{ secrets.DOCKER_HUB_USERNAME }}/zinc:latest

      - name: Update charm metadata
        run: |
          version=${{ steps.get_version.outputs.VERSION }}
          sed -i -e "s/zinc:[0-9]\+\.[0-9]\+\.[0-9]\+/zinc:${version}/g" metadata.yaml

      # We use a Github App and token to allow Github Actions to run properly on the created PR.
      - uses: tibdex/github-app-token@021a2405c7f990db57f5eae5397423dcc554159c # v1
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_KEY }}

      - name: Create a PR to update charm
        uses: peter-evans/create-pull-request@2b011faafdcbc9ceb11414d64d0573f37c774b04 # v4
        id: cpr
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "chore(deps): bump zinc container image to `jnsgruk/zinc:${{ steps.get_version.outputs.VERSION }}`"
          committer: "Github Actions <github-actions@github.com>"
          author: "Github Actions <github-actions@github.com>"
          title: "Update container image to `jnsgruk/zinc:${{ steps.get_version.outputs.VERSION }}`"
          body: "Update container image to `jnsgruk/zinc:${{ steps.get_version.outputs.VERSION }}`"
          branch: "auto-container-${{ steps.get_version.outputs.VERSION }}"
          delete-branch: true
          reviewers: jnsgruk
          assignees: jnsgruk
