name: Pull Request
on:
  pull_request:
    paths-ignore:
      - ".github/workflows/release.yaml"
      - ".github/workflows/update-libs.yaml"
      - ".github/workflows/update-oci.yaml"
      - ".gitignore"
      - "rockcraft.yaml"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/build-and-test.yaml
    secrets:
      CHARMHUB_TOKEN: "${{ secrets.CHARMHUB_TOKEN }}"
