name: Release to latest/edge

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/renovate*"
      - ".github/workflows/renovate.yaml"
      - ".github/workflows/update-libs.yaml"
      - ".github/workflows/update-oci.yaml"
      - ".github/workflows/publish-oci.yaml"
      - ".gitignore"
      - "Dockerfile"
      - "rockcraft.yaml"
      - "tox.ini"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    uses: ./.github/workflows/build-and-test.yaml
    secrets:
      CHARMHUB_TOKEN: "${{ secrets.CHARMHUB_TOKEN }}"

  release-to-charmhub:
    name: Release to CharmHub
    needs:
      - test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@2.6.2
        id: channel
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@2.6.2
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
