name: Release to latest/edge

on:
  push:
    branches:
      - main
    paths-ignore:
      - ".github/renovate*"
      - ".github/workflows/release.yaml"
      - ".github/workflows/renovate.yaml"
      - ".github/workflows/update-libs.yaml"
      - ".github/workflows/update-oci.yaml"
      - ".github/workflows/publish-oci.yaml"
      - ".github/workflows/build-and-test.yaml"
      - ".gitignore"
      - "Dockerfile"

jobs:
  test:
    uses: ./.github/workflows/build-and-test.yaml
    secrets:
      CHARMHUB_TOKEN: "${{ secrets.CHARMHUB_TOKEN }}"

  release-to-charmhub:
    name: Release to CharmHub
    needs:
      - test
    runs-on: ubuntu-22.04
    steps:
      - name: Checkout
        uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3
        with:
          fetch-depth: 0
      - name: Select charmhub channel
        uses: canonical/charming-actions/channel@726d010dbec2d43e830be0783b1f3d1bfc454687 # 2.2.1
        id: channel
      - name: Upload charm to charmhub
        uses: canonical/charming-actions/upload-charm@726d010dbec2d43e830be0783b1f3d1bfc454687 # 2.2.1
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"
          channel: "${{ steps.channel.outputs.name }}"
