name: Auto-update Charm Libraries
on:
  # Manual trigger
  workflow_dispatch:
  # Check regularly the upstream every four hours
  schedule:
    - cron: "0 0,4,8,12,16,20 * * *"

jobs:
  lib-check:
    name: Check libraries
    runs-on: ubuntu-latest
    outputs:
      libs-ok: ${{ steps.check-libs.outputs.libs-ok }}
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Check libs
        id: check-libs
        uses: canonical/charming-actions/check-libraries@2.0.0
        with:
          credentials: "${{ secrets.CHARMHUB_TOKEN }}"
          github-token: "${{ secrets.GITHUB_TOKEN }}"

  create-pr:
    runs-on: ubuntu-latest
    needs: lib-check
    if: ${{ needs.lib-check.outputs.libs-ok }} == 'false'
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Update version
        run: |
          sudo snap install charmcraft --classic
          charmcraft fetch-lib
        env:
          CHARMCRAFT_AUTH: "${{ secrets.CHARMHUB_TOKEN }}"

      # We use a Github App and token to allow Github Actions to run properly on the created PR.
      - uses: tibdex/github-app-token@v1
        id: generate-token
        with:
          app_id: ${{ secrets.APP_ID }}
          private_key: ${{ secrets.APP_KEY }}

      - name: Create a PR for local changes
        uses: peter-evans/create-pull-request@v4
        id: cpr
        with:
          token: ${{ steps.generate-token.outputs.token }}
          commit-message: "chore: bump charm libraries"
          committer: "Github Actions <github-actions@github.com>"
          author: "Github Actions <github-actions@github.com>"
          title: "Bump charm libraries"
          body: Automated action to fetch latest version of charm libraries.
          branch: "auto-libs"
          delete-branch: true
          reviewers: jnsgruk
          assignees: jnsgruk
